body {
  margin: 0;
}
.pizda {
      font-size: 104px;
    background-color: rgba(0, 0, 0, 0.5);
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    display: table-cell;
vertical-align: middle;
width: 100%;
}

.t-btn_sm:hover{
  background-color: #000 !important;
  color: white !important;
  transition: 0.5s !important;
}


.t-btn:hover{
  background-color: #000 !important;
  color: white !important;
  transition: 0.5s !important;
}

a.t-menu__link-item:hover{
  color: #d04221 !important;
  transition: 0.4s !important;
}

.t457__ul a:hover{
  color: #d04221 !important;
  transition: 0.4s !important;
}




.t572__text a:hover{
  color:red !important;
  transition: 0.3s !important;
}

.t461__additional_buttons_wrap a:hover{
  background:#d04221 !important;
  transition: 0.2s !important;
}
